.App {
  text-align: center;
  font-family: 'Kalam', cursive;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}


.flex {
  display: flex;
  justify-content: space-around;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  color: rgb(194, 193, 193);
  background-color: rgb(40, 40, 40);
  
}

.homePage {
  background-image: url(./Images/coverHouse.jpeg);
  height: 92vh;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;

}

.leadCard {
  width: 300px;
  height: auto;
  border: 2px solid rgb(9, 9, 9);
  border-radius: 10px;
  padding: 25px;
  background-color: rgba(205, 205, 193, 0);
  margin: 5px;
  color: rgb(42, 41, 41);
 
}

