.App {
  /* text-align: center; */
  font-family: 'Kalam', cursive;
  font-family: 'Poppins', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex {
  display: flex;
  justify-content: space-around;
}

.navBarLogo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 17px;
  height: 75px;
  color: rgb(0, 0, 0);
  background-color: #c3bdbd;
}


.leadCard {
  width: 300px;
  height: 150px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 25px;
  background-color: rgba(205, 205, 193, 0);
  margin: 5px;
  color: rgb(232, 226, 226);
  text-decoration: none;
}
